@green: #3FA75F;
@red: #DB423C;

.stock-quote {
  &.up {
    color: @green;
    .change {
      display: inline-block;
      border-bottom: 8px solid @green;
    }
  }
  &.down {
    color: @red;
    .change {
      display: inline-block;
      border-top: 8px solid @red;
    }
  }

  .change {
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-right: 2px;
  }
}
