<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">


	<ui:define name="content">
		<h1>Ajouter un Contrat a un employer</h1>
		<h:form id="form">
			<table>
				<tr>
					<td><h:outputText value="Employe" /></td>
					<td><h:selectOneMenu value="#{contratBean.selectedEmployeId}">
							<f:selectItems value="#{contratBean.employes}" var="employe"
								itemValue="#{employe.id}"
								itemLabel="#{employe.nom} #{employe.prenom}" />
						</h:selectOneMenu></td>
				</tr>

				<tr>
					<td><h:outputText value="Date Debut" /></td>
					<td><h:inputText id="date" value="#{contratBean.date}">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</h:inputText></td>
					<td><h:message for="date" style="color:red" /></td>
				</tr>

				<tr>
					<td><h:outputText value="Salaire" /></td>
					<td><h:inputText value="#{contratBean.salaire}" /></td>
				</tr>

				<tr>
					<td><h:outputText value="Type Contrat" /></td>
					<td><h:inputText value="#{contratBean.typeContrat}" /></td>
				</tr>
				<tr>
					<td></td>
					<td>
					<h:commandButton action="#{contratBean.ajoutContrat()}"
					value="Ajouter Contrat" />
					</td>
				</tr>
				
			</table>
		</h:form>
	</ui:define>

</ui:composition>
