<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	
	<ui:define name="content">
	<h1>Gerer les employers</h1>
		<h:form id="form">
			<h:dataTable value="#{portfolioBean.portfolios}" var="pf" border="1">
				<h:column>
					<f:facet name="header">
						<h:outputText value="type" />
					</f:facet>
					<h:outputText value="#{pf.type}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="category" />
					</f:facet>
					<h:outputText value="#{pf.category}" />
				</h:column>

				

				
				<h:column>
					<f:facet name="header">
						<h:outputText value="Action" />
					</f:facet>
					<h:commandButton action="#{portfolioBean.supprimer(portfolio.id)}"
						value="Supprimer" />
					<h:commandButton action="#{portfolioBean.modifier(portfolio)}"
						value="Modifier" />
				</h:column>

			</h:dataTable>


			<h:panelGrid columns="2">

				<h:outputText value="type " />
				<h:inputText value="#{portfolioBean.type}" />

				<h:outputText value="category" />
				<h:inputSecret value="#{portfolioBean.category}" />

				
			

				<h:commandButton action="#{portfolioBean.addEmploye()}"
					value="Ajouter portfolio" />
				<h:commandButton action="#{portfolioBean.mettreAjourEmploye()}"
					value="Mettre a jour portfolio" />

			</h:panelGrid>
		</h:form>

	</ui:define>

</ui:composition>
