<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/template/template.xhtml">

	<ui:define name="title">Choisir une fonctionnalité:  </ui:define><br />
	<ui:define name="content">
		<h:link outcome="/pages/admin/gererEmploye" value="Gerer les employes" />
		<br />
		<br />
		<h:link outcome="/pages/admin/ajouterContrat" value="Ajouter un contrat pour un employe existant" />
	</ui:define>



</ui:composition>

