<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"

	>

<ui:include src="header.xhtml" />
<body>
 <!-- Preloader Start -->
    <div id="preloader">
        <div class="circle"></div>
        <div class="left-door"></div>
        <div class="right-door"></div>
    </div>
    
    
 
<div id="aa" class="text-center" data-img-src="template/img/background-images/contact-page.jpg" >
	<h1>Add/Remove Option From Portfolio</h1>
		<h:form id="form">
		<div class="panel-body panel-body-table">

                                    <div class="table-responsive">
			<h:dataTable value="#{optionBean.os}" var="option" border="5" class="table table-bordered table-striped table-actions">
				<h:column>
					<f:facet name="header">
					 <span class="label label-info" style="font-size:15px"><h:outputText value="Contract_name" /></span> 
						
					</f:facet>
					 <span class="label label-success" style="font-size:15px">  
					<h:outputText value="#{option.contract_name}" /></span>
				</h:column>

				<h:column>
					<f:facet name="header">
					<span class="label label-info" style="font-size:15px">
						<h:outputText value="Ask" /></span>
					</f:facet>
					<span class="label label-danger" style="font-size:15px">
					<h:outputText value="#{option.ask}" /></span>
				</h:column>
				<h:column>
					<f:facet name="header">
					<span class="label label-info" style="font-size:15px">
						<h:outputText value="Bid" /></span>
					</f:facet>
					<span class="label label-danger" style="font-size:15px">
					<h:outputText value="#{option.bid}" /></span>
				</h:column>
				<h:column>
					<f:facet name="header">
					<span class="label label-info" style="font-size:15px">
						<h:outputText value="Strike" /></span>
					</f:facet>
					<span class="label label-danger" style="font-size:15px">
					<h:outputText value="#{option.strike}" /></span>
				</h:column>
				<h:column>
					<f:facet name="header">
					<span class="label label-info" style="font-size:15px">
						<h:outputText value="Volume" /></span>
					</f:facet>
					<span class="label label-danger" style="font-size:15px">
					<h:outputText value="#{option.volume}" /></span>
				</h:column>

				

				
				<h:column>
					<f:facet name="header">
					<span class="label label-info" style="font-size:15px">
						<h:outputText value="Action" /></span>
					</f:facet>
					<h:commandButton action="#{portfolioBean.supprimer(portfolio.id)}"
						value="Deleate" class="btn btn-warning btn-rounded btn-sm fa-times" />
					
					<h:commandButton action="#{portfolioBean.modifier(portfolio)}"
						value="Update" class="btn btn-default btn-rounded btn-sm"/>
				</h:column>

			</h:dataTable>
			</div>
			</div>
			<br />
			<br />
			<br />
			<br />


			<h:panelGrid columns="2">

				<h:outputText value="T y p e " class="form-control label label-warning"  />
				<h:selectOneMenu value="#{optionBean.cbox}">
							<f:selectItems value="#{optionBean.cbox}" var="employe"
								itemValue="#{employe.id}"
								itemLabel="#{employe.contract_name}" />
						</h:selectOneMenu>

				
				                                          
                                         

<br/>
<br/>
                                                                      
                                    
                                  
									
                                     <!--    <label class="col-md-6 col-xs-12 control-label">* Category:</label>
                                        <div class="col-md-6 col-xs-12">    
	                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                                <h:inputText value="#{portfolioBean.category}" />
                                                                                   
                                          </div> -->
                                     
                                  
				
			
<div class="col-md-12">
				<h:commandButton action="#{optionBean.addOption()}"
					value="Add option" class="mdl-button  mdl-button--accent"/>
					</div>
					
					<br/>
					<div class="col-md-12">
				<h:commandButton action="#{optionBean.supprimer(option)}"
					value="Confirm update" class="mdl-button  mdl-button--accent"/>
					</div>

			</h:panelGrid>
		
</h:form>
</div>


	
	<!-- Portfolio Projects Area End -->
	
	<!-- Testimonial Area Start -->
    
	<!-- Testimonial Area End -->
	
	<!-- Pricing Table Area Start -->
    
	<!-- Pricing Table Area End -->
	
	<!-- Brands Area Start -->
	
	<!-- Brands Area End -->
	
	<!-- Blog Area Start -->
    
	<!-- Blog Area End -->
	
	<!-- Contact Area Start -->
    
	<!-- Contact Area End -->
	

	
	
	
	<!-- Portfolio Details Modal Start -->
	<div class="modal fade" id="portfolioDetailsModal" tabindex="-1" role="dialog" aria-labelledby="portfolioDetailsModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div id="portfolioDetails">
                    <div class="portfolio-popup mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <div class="mfp-img">
                                <img class="mfp-img img-responsive" src="img/portfolio-images/portfolio-img-1.jpg" alt=""></img>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mfp-title">Lorem ipsum sit amet dolor</h2>
                            <div class="mfp-description">
                                <p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p><p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <div class="mfp-link">
                                <a href="#" class="mfp-link mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">Live Preview</a>
                            </div>
                            <div class="mfp-social">
                                <ul>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Details Modal End -->
	
	<!-- Popup Navigation Area Start -->
	<div id="popupNav">
        <button id="popupNavButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--fab mdl-shadow--4dp">
            <i class="add">+</i>
        </button>

        <ul class="popupNavMenu animateScroll2 mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="popupNavButton">
          <li><a href="#header"><span class="mdl-shadow--2dp">Home</span><i class="fa fa-home mdl-shadow--4dp"></i></a></li>
          <li><a href="#services"><span class="mdl-shadow--2dp">Our Services</span><i class="fa fa-cog mdl-shadow--4dp"></i></a></li>
          <li><a href="#about"><span class="mdl-shadow--2dp">About Us</span><i class="fa fa-info mdl-shadow--4dp"></i></a></li>
          <li><a href="#portfolio"><span class="mdl-shadow--2dp">Portfolio</span><i class="fa fa-photo mdl-shadow--4dp"></i></a></li>
          <li><a href="#pricingTable"><span class="mdl-shadow--2dp">Our Pricing</span><i class="fa fa-dollar mdl-shadow--4dp"></i></a></li>
          <li><a href="#contact"><span class="mdl-shadow--2dp">Contact Us</span><i class="fa fa-envelope mdl-shadow--4dp"></i></a></li>
          <li><a href="#footer"><span class="mdl-shadow--2dp">Footer</span><i class="fa fa-arrow-down mdl-shadow--4dp"></i></a></li>
        </ul>
	</div>
	<!-- Popup Navigation Area End -->
		
    <!-- Color Switcher Start -->
    <div id="open-switcher">
        <i class="fa fa-paint-brush"></i>
    </div>
    <div id="close-switcher">
        <i class="fa fa-times"></i>
    </div>
   
    <!-- Color Cwitcher End -->

	<!-- ====jQuery Core JavaScript==== -->
	<script src="template/js/jquery-2.2.2.min.js"></script>

	<!-- ====Bootstrap Core JavaScript==== -->
	<script src="template/js/bootstrap.min.js"></script>

	<!-- ====Material Design Lite Core JavaScript==== -->
	<script src="template/js/material.min.js"></script>

	<!-- ====animateScroll JavaScript==== -->
	<script src="template/js/animatescroll.min.js"></script>
	
    <!-- ====Google MAPS API JavaScript==== -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <!-- ====Twitter Fetcher JavaScript==== -->
    <script src="template/js/twitterFetcher_min.js"></script>
	
    <!-- ====jQuery Validation JavaScript==== -->
    <script src="template/js/jquery.validate.min.js"></script>
	
    <!-- ====Owl Carousel JavaScript==== -->
    <script src="template/js/owl.carousel.min.js"></script>
	
    <!-- ====Waypoints JavaScript==== -->
    <script src="template/js/jquery.waypoints.min.js"></script>
	
    <!-- ====Isotope JavaScript==== -->
    <script src="template/js/isotope-docs.min.js"></script>
	
    <!-- ====jQuery CounterUp JavaScript==== -->
    <script src="template/js/jquery.counterup.min.js"></script>
	
    <!-- ====Magnific Popup JavaScript==== -->
    <script src="template/js/jquery.magnific-popup.min.js"></script>
	
    <!-- ====Youtube Background JavaScript==== -->
    <script src="template/js/jquery.tubular.1.0.js"></script>
	
    <!-- ====jQuery Direction Aware Hover JavaScript==== -->
    <script src="template/js/jquery.directional-hover.min.js"></script>
	
    <!-- ====RetinaJS JavaScript==== -->
    <script src="template/js/retina.min.js"></script>

	<!-- ====BizLinks Core JavaScript==== -->
	<script src="template/js/mainc4ca.js?1"></script>

	<!-- ====Color Switcher JavaScript==== -->
    <script src="template/js/color-switcher.js"></script>
   
</body>
<ui:include src="footer.xhtml" />
</html>

<!-- Mirrored from www.themelooks.com/demo/bizlinks/html/version-2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2016 14:17:14 GMT -->
