<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	
	<meta name="description" content=""/>
	<meta name="author" content=""/>
		<!-- <link  href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,700,900' rel='stylesheet' type="text/css"/> -->
	
	<title>Intelixx</title>
	<link href="template/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="template/img/favicon.png" rel="shortcut icon" type="image/x-icon"/>
	<link href="template/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="template/css/material.min.css" rel="stylesheet" type="text/css"/>
	<link href="template/css/magnific-popup.css" rel="stylesheet" type="text/css"/>
	<link href="template/css/preloader.css" rel="stylesheet" type="text/css"/>
	<link href="template/stylec4ca.css?1" rel="stylesheet" type="text/css"/>
	<link href="template/css/animate.min.css" rel="stylesheet" type="text/css" id="buttonColorScheme"/>
	<link href="template/css/main-color-1.css" rel="stylesheet" type="text/css" id="mainColorScheme"/>
	
	<div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <!-- Latest News Widget Start -->
                        <div class="col-md-6 col-sm-6 latest-news-widget">
                            <h2 class="footer-title">latest news</h2>
                            <div class="footer-thumb">
                                <div class="row-holder">
                                    <div class="left-col">
                                        <img src="template/img/blog-section/recent-item-1.jpg" alt=""></img>
                                    </div>
                                    <div class="right-col">
                                        <a class="footer-thumb-link" href="#">
                                            Lorem Ipsum sit amut
                                        </a>
                                        <p class="footer-thumb-text">
                                            You shouldn't have to take our word for it. You sdfd read what i You shouldn't have to take our
                                        </p>
                                        <span class="footer-thumb-date">Published ON: 
                                            <span class="footer-thumb-text-italic">10 dec</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row-holder">
                                    <div class="left-col">
                                        <img src="template/img/blog-section/recent-item-1.jpg" alt=""></img>
                                    </div>
                                    <div class="right-col">
                                        <a class="footer-thumb-link" href="#">
                                            Lorem Ipsum sit amut
                                        </a>
                                        <p class="footer-thumb-text">
                                            You shouldn't have to take our word for it. You sdfd read what i You shouldn't have to take our  
                                        </p>
                                        <span class="footer-thumb-date">Published ON: 
                                            <span class="footer-thumb-text-italic">10 dec</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Latest News Widget End -->
                        <!-- Latest Tweets Widget Start -->
                        <div class="col-md-6 col-sm-6 latest-tweets-widget">
                            <h2 class="footer-title">latest tweets</h2>
                            <div id="tweets"></div>
                        </div>
                        <!-- Latest Tweets Widget End -->
                    </div>
                </div>
                </div>
                </div>
                </div>
                <div id="copyright">
		<div class="container">
			<p>Copyright 2016<a href="#">BizLinks</a>.  All right Reserved.</p>
		</div>
	</div>
		<!-- Login Form Start -->
	<div class="modal fade" id="loginFormModal" tabihndex="-1" role="dialog" aria-labelledby="loginForm">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div class="loginForm">
					<div class="mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
							<img src="img/logo.png" alt=""></img>
						</div>
						<div class="mdl-card__supporting-text">
							<h:form action="#" method="post" id="loginForm">
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText  class="mdl-textfield__input" type="text" name="loginUsername" id="loginUsername" value="#{loginBean.mail}"/>
									<label class="mdl-textfield__label" for="loginUsername">Username</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputSecret value="#{loginBean.pwd}"  class="mdl-textfield__input" type="text" name="loginPassword" id="loginPassword"/>
									<label class="mdl-textfield__label" for="loginPassword">Password</label>
								</div>
								
								<h:commandButton action="#{loginBean.doLogin()}" value="login" type="submit" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
								
							</h:form>
						</div>
						<div class="mdl-card__actions mdl-card--border clearfix">
							<a href="#" class="pull-left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
								Forgot Password?
							</a>
							<a href="singup-form.html" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
								Create An Account
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Login Form End -->
	
	<!-- Signup Form Start -->
	<div class="modal fade" id="signupFormModal" tabindex="-1" role="dialog" aria-labelledby="signupFormModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div class="signupForm">
					<div class="mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
							<img src="img/logo.png" alt=""></img>
						</div>
						<h:form id="form">
						<div class="mdl-card__supporting-text">
							
							
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText value="#{loginBean.first_name}" class="mdl-textfield__input" type="text" name="singupName" id="singupName"/>
									<label class="mdl-textfield__label" for="singupName">Full Name</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText value="#{loginBean.last_name}" class="mdl-textfield__input" type="text" name="singupUsername" id="singupUsername"/>

								<label class="mdl-textfield__label" for="singupUsername">Username</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText value="#{loginBean.mail}"  class="mdl-textfield__input" type="text" name="singupEmail" id="singupEmail" required="true"  requiredMessage="Email is required" validatorMessage="this email is not valid">
									<f:validateRegex pattern=".+\@.+\..+"/>
									</h:inputText>
									<label class="mdl-textfield__label" for="singupEmail">E-mail Address</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText value="#{loginBean.address}"  class="mdl-textfield__input" type="text" name="singupAddress" id="singupAddress"/>
									<label class="mdl-textfield__label" for="singupAddress"> Address</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputSecret value="#{loginBean.pwd}"  class="mdl-textfield__input" type="text" name="singupPassword" id="singupPassword" required="true" requiredMessage="Password is required">
									<f:validator validatorId="validator.PasswordValidator" />
								</h:inputSecret>
									<label class="mdl-textfield__label" for="singupPassword">Password</label>
								</div>
								
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputText value="#{loginBean.date_of_birth}"  class="mdl-textfield__input" type="text" name="singupDate" id="singupDate">
							
									<f:convertDateTime pattern="dd-MM-yyyy"/>
									</h:inputText>
								<label class="mdl-textfield__label" for="singupDate">dd-mm-yyyy</label>
								</div>
									<div class="mdl-textfield mdl-js-textfield">
									<h:inputText  value="#{loginBean.tel}"  class="mdl-textfield__input" type="text" name="singupTel" id="singupTel" validatorMessage="Ce numéro de telephone n'est pas valable">
									<f:validateRegex pattern="[0-9]+" />
									</h:inputText>
									<label class="mdl-textfield__label" for="singupTel">Tel</label>
								</div>
									
					<div class="mdl-textfield mdl-js-textfield">
				<h:selectOneMenu value="#{loginBean.type}">
					<f:selectItem itemLabel="Select your role" itemValue="" />
					<f:selectItems value="#{data.type}" />
					</h:selectOneMenu>
					</div>
								
								<h:commandButton action="#{loginBean.addUser()}" value="Singup"  class="singup-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
							
							<h:message for="singupPassword" style="color:red" /><br> </br>
							<h:message for="singupEmail" style="color:red" /><br> </br>
							<h:message for="singupTel" style="color:green" />

							
						</div>
						</h:form>
						<div class="mdl-card__actions mdl-card--border clearfix">
							<p class="pull-left">Already Have An Account?</p>
							<a href="login-form.html" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#loginFormModal" data-dismiss="modal">
								Login
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Signup Form End -->
	
	<!-- Portfolio Details Modal Start -->
	<div class="modal fade" id="portfolioDetailsModal" tabindex="-1" role="dialog" aria-labelledby="portfolioDetailsModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div id="portfolioDetails">
                    <div class="portfolio-popup mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <div class="mfp-img">
                                <img class="mfp-img img-responsive" src="img/portfolio-images/portfolio-img-1.jpg" alt="">
                           </img> </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mfp-title">Lorem ipsum sit amet dolor</h2>
                            <div class="mfp-description">
                                <p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p><p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <div class="mfp-link">
                                <a href="#" class="mfp-link mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">Live Preview</a>
                            </div>
                            <div class="mfp-social">
                                <ul>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Details Modal End -->
</ui:composition>