
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"></meta>
	
	<meta name="description" content=""></meta>
	<meta name="author" content=""></meta>

	<title>BizLinks - Material Design Agency and Business Template</title>
	
	
	<!-- ====Google Font CSS==== -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:100,200,300,500,700,900' rel='stylesheet' type='text/css'>
	</link>
	<!-- ====Font Awesome CSS==== -->
	<link href="template/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>

	<!-- ====Favicons==== -->
	<link href="template/img/favicon.png" rel="shortcut icon" type="image/x-icon"></link>
	<link href="template/img/favicon.png" rel="icon" type="image/x-icon"></link>

	<!-- ====Bootstrap Core CSS==== -->
	<link href="template/css/bootstrap.min.css" rel="stylesheet" type="text/css"></link>

	<!-- ====Material Design Lite Core CSS==== -->
	<link href="template/css/material.min.css" rel="stylesheet" type="text/css"></link>
	
    <!-- ====Owl Carousel CSS==== -->
	<link href="template/css/owl.carousel.css" rel="stylesheet" type="text/css"></link>
	
    <!-- ====Magnific Popup CSS==== -->
	<link href="template/css/magnific-popup.css" rel="stylesheet" type="text/css"></link>
    <!-- ====Animate CSS==== -->
	<link href="template/css/animate.min.css" rel="stylesheet" type="text/css"></link>
	
    <!-- ====jQuery Direction Aware Hover CSS==== -->
	<link href="template/css/jquery.directional-hover.min.css" rel="stylesheet" type="text/css"></link>

	<!-- ====Preloader CSS==== -->
	<link href="template/css/preloader.css" rel="stylesheet" type="text/css"></link>

	<!-- ====BizLinks Core CSS==== -->
	<link href="template/stylec4ca.css?1" rel="stylesheet" type="text/css"></link>

	<!-- ====Button Color Scheme CSS==== -->
	<link href="template/css/button-color-1.css" rel="stylesheet" type="text/css" id="buttonColorScheme"></link>

	<!-- ====Main Color Scheme CSS==== -->
	<link href="template/css/main-color-1.css" rel="stylesheet" type="text/css" id="mainColorScheme"> </link>

		<nav id="topNav" class="navbar">
		<div class="container">
			<div id="topNavbar" class="nav-body navbar-collapse collapse text-center">
				<!-- Logo Start -->
				<a class="navbar-brand mdl-card mdl-shadow--2dp" href="index.html">
					<img src="img/logo.png" alt="" class="img-responsive"></img>
				</a>
			
				<!-- Logo End -->
                <button id="btnlogin" class="login-form-button navbar-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#loginFormModal" >
                    <i class="fa fa-user"></i>
                    Login
                </button>
              		
				<button class="mainNavButton navbar-right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
					<i class="fa fa-bars"></i>
					Menu
				</button>
			</div>
		</div>
	</nav>

	<div class="mainNav mdl-layout mdl-js-layout">
        <div class="mdl-layout__drawer">
            <!-- Menu Logo Start -->
            <a href="index.html" class="mainNav-logo mdl-shadow--2dp">BizLinks</a>
            <!-- Menu Logo End -->
            <ul class="nav nav-pills nav-stacked">
                <li class="opened"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="menu-icon fa fa-home"></i> Home <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
						<li><a href="http://www.themelooks.com/demo/bizlinks/html/version-1/index.html">- Home Version 1</a></li>
						<li class="active"><a href="index.html">- Home Version 2</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="menu-icon fa fa-copy"></i> Pages <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="MyProfile.jsf">- My Profile</a></li>
                        <li><a href="contact.jsf">- Stocks and claims</a></li>
                        <li><a href="portfolio.html">- Portfolio Page</a></li>
                        <li><a href="ModifPwd.jsf">-Edit your password</a></li>
                        <li><a href="pricing.html">- Pricing Page</a></li>
                    </ul>
                </li>
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="menu-icon fa fa-book"></i> Blog <i class="fa fa-plus"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">- Blog Page</a></li>
                        <li><a href="blog_details_left.html">- Blog Details Left</a></li>
                        <li><a href="blog_details.html">- Blog Details Right</a></li>
                    </ul>
                </li>
                <li><a href="404.html"><i class="menu-icon fa fa-ban"></i> 404 Page</a></li>
                <li><a href="contact.html"><i class="menu-icon fa fa-envelope"></i> Contact Page</a></li>
            </ul>
            <div class="admin-controls">
                <button class="form-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#loginFormModal">
                    <i class="fa fa-user"></i>
                    Login
                </button>
                <button class="form-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#signupFormModal">
                    <i class="fa fa-user-plus"></i>
                    Singup
                </button>
            </div>
            <ul class="mainNav-social-links">
                <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <!--[if IE 9]>
            <div class="mdl-layout__obfuscator"></div>
        <![endif]-->
    </div>
		<div id="pageHeader" class="text-center" data-img-src="template/img/background-images/contact-page.jpg" >
		<div class="v-center">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="section-title text-center">
							<h2>our services</h2>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper</p>
						</div>
						<ol class="breadcrumb">
							<li><a href="index.html">Home</a></li>
							<li class="active">Services</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- Top Navigation Bar Start -->
	<nav id="topNav" class="navbar">
		<div class="container">
			<div id="topNavbar" class="nav-body navbar-collapse collapse text-center">
				<!-- Logo Start -->
				<a class="navbar-brand mdl-card mdl-shadow--2dp" href="template1.jsf">
					<img src="template/img/intelixx.png" alt="" class="img-responsive"/>
				</a>
				<!-- Logo End -->
                <button class="login-form-button navbar-right mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" data-toggle="modal" data-target="#loginFormModal">
                    <i class="fa fa-user"></i>
                    Login
                </button>
				<button class="mainNavButton navbar-right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent">
					<i class="fa fa-bars"></i>
					Menu
				</button>
			</div>
		</div>
	</nav>

</ui:composition>