<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	
	<h:head>
	
	<ui:include src="header.xhtml" />
	</h:head>
	<h:body>
	
	
		<div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginForm">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
			
			</div>
		</div>
	</div>
		<div class="loginForm">
					<div class="mdl-card mdl-shadow--2dp">
						<div class="mdl-card__title mdl-card--expand">
							<img src="template/img/logo.png" alt=""/>
						</div>
						<div class="mdl-card__supporting-text">
							<form action="#" method="post" id="loginForm">
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="text" name="loginUsername" id="loginUsername"/>
									<label class="mdl-textfield__label" for="loginUsername">Username</label>
								</div>
								<div class="mdl-textfield mdl-js-textfield">
									<input class="mdl-textfield__input" type="text" name="loginPassword" id="loginPassword"/>
									<label class="mdl-textfield__label" for="loginPassword">Password</label>
								</div>
								
								<button type="submit" class="login-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
							</form>
						</div>
						<div class="mdl-card__actions mdl-card--border clearfix">
							<a href="#" class="pull-left mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
								Forgot Password?
							</a>
							<a href="singup-form.html" class="pull-right mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" data-toggle="modal" data-target="#signupFormModal" data-dismiss="modal">
						Create An Account
							</a>
						</div>
					</div>
				</div>
	
	</h:body>
	<ui:include src="footer.xhtml" />
	
	</html>