<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"

	>

<ui:include src="header.xhtml" />
<body>
 <!-- Preloader Start -->
    <div id="preloader">
        <div class="circle"></div>
        <div class="left-door"></div>
        <div class="right-door"></div>
    </div>


	
	
	
	<!-- Portfolio Details Modal Start -->
	<div class="modal fade" id="portfolioDetailsModal" tabindex="-1" role="dialog" aria-labelledby="portfolioDetailsModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
				<div id="portfolioDetails">
                    <div class="portfolio-popup mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <div class="mfp-img">
                                <img class="mfp-img img-responsive" src="img/portfolio-images/portfolio-img-1.jpg" alt=""></img>
                            </div>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h2 class="mfp-title">Lorem ipsum sit amet dolor</h2>
                            <div class="mfp-description">
                                <p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p><p>Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia. Estibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia.</p>
                            </div>
                        </div>
                        <div class="mdl-card__actions mdl-card--border clearfix">
                            <div class="mfp-link">
                                <a href="#" class="mfp-link mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-button--accent">Live Preview</a>
                            </div>
                            <div class="mfp-social">
                                <ul>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- Portfolio Details Modal End -->
	
	<!-- Popup Navigation Area Start -->
	<div id="popupNav">
        <button id="popupNavButton" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary mdl-button--fab mdl-shadow--4dp">
            <i class="add">+</i>
        </button>

        <ul class="popupNavMenu animateScroll2 mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="popupNavButton">
          <li><a href="#header"><span class="mdl-shadow--2dp">Home</span><i class="fa fa-home mdl-shadow--4dp"></i></a></li>
          <li><a href="#services"><span class="mdl-shadow--2dp">Our Services</span><i class="fa fa-cog mdl-shadow--4dp"></i></a></li>
          <li><a href="#about"><span class="mdl-shadow--2dp">About Us</span><i class="fa fa-info mdl-shadow--4dp"></i></a></li>
          <li><a href="#portfolio"><span class="mdl-shadow--2dp">Portfolio</span><i class="fa fa-photo mdl-shadow--4dp"></i></a></li>
          <li><a href="#pricingTable"><span class="mdl-shadow--2dp">Our Pricing</span><i class="fa fa-dollar mdl-shadow--4dp"></i></a></li>
          <li><a href="#contact"><span class="mdl-shadow--2dp">Contact Us</span><i class="fa fa-envelope mdl-shadow--4dp"></i></a></li>
          <li><a href="#footer"><span class="mdl-shadow--2dp">Footer</span><i class="fa fa-arrow-down mdl-shadow--4dp"></i></a></li>
        </ul>
	</div>
	<!-- Popup Navigation Area End -->
		
    <!-- Color Switcher Start -->
    <div id="open-switcher">
        <i class="fa fa-paint-brush"></i>
    </div>
    <div id="close-switcher">
        <i class="fa fa-times"></i>
    </div>
   
    <!-- Color Cwitcher End -->

	<!-- ====jQuery Core JavaScript==== -->
	<script src="template/js/jquery-2.2.2.min.js"></script>

	<!-- ====Bootstrap Core JavaScript==== -->
	<script src="template/js/bootstrap.min.js"></script>

	<!-- ====Material Design Lite Core JavaScript==== -->
	<script src="template/js/material.min.js"></script>

	<!-- ====animateScroll JavaScript==== -->
	<script src="template/js/animatescroll.min.js"></script>
	
    <!-- ====Google MAPS API JavaScript==== -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>
    
    <!-- ====Twitter Fetcher JavaScript==== -->
    <script src="template/js/twitterFetcher_min.js"></script>
	
    <!-- ====jQuery Validation JavaScript==== -->
    <script src="template/js/jquery.validate.min.js"></script>
	
    <!-- ====Owl Carousel JavaScript==== -->
    <script src="template/js/owl.carousel.min.js"></script>
	
    <!-- ====Waypoints JavaScript==== -->
    <script src="template/js/jquery.waypoints.min.js"></script>
	
    <!-- ====Isotope JavaScript==== -->
    <script src="template/js/isotope-docs.min.js"></script>
	
    <!-- ====jQuery CounterUp JavaScript==== -->
    <script src="template/js/jquery.counterup.min.js"></script>
	
    <!-- ====Magnific Popup JavaScript==== -->
    <script src="template/js/jquery.magnific-popup.min.js"></script>
	
    <!-- ====Youtube Background JavaScript==== -->
    <script src="template/js/jquery.tubular.1.0.js"></script>
	
    <!-- ====jQuery Direction Aware Hover JavaScript==== -->
    <script src="template/js/jquery.directional-hover.min.js"></script>
	
    <!-- ====RetinaJS JavaScript==== -->
    <script src="template/js/retina.min.js"></script>

	<!-- ====BizLinks Core JavaScript==== -->
	<script src="template/js/mainc4ca.js?1"></script>

	<!-- ====Color Switcher JavaScript==== -->
    <script src="template/js/color-switcher.js"></script>
    
<h:form>

<div class="mdl-textfield mdl-js-textfield">
									<h:inputSecret  value="#{profileBean.pwd}"  class="mdl-textfield__input" type="text" name="singupAddress" id="singupAddress"/>
									<label class="mdl-textfield__label" for="singupAddress"> old password</label>
								</div>
								<br> </br>
								<div class="mdl-textfield mdl-js-textfield">
									<h:inputSecret value="#{profileBean.pwd}"  class="mdl-textfield__input" type="text" name="singupPassword" id="singupPassword"/>
									<label class="mdl-textfield__label" for="singupPassword">New password</label>
								</div>
								<h:commandButton action="#{profileBean.modifPwd()}" value="Update your profile"  class="singup-form-submit-btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>

</h:form>
   
</body>
<ui:include src="footer.xhtml" />
</html>

<!-- Mirrored from www.themelooks.com/demo/bizlinks/html/version-2/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 09 Oct 2016 14:17:14 GMT -->
